[run]
source = src
branch = True

[report]
# Fail the build if total coverage is under 90%
fail_under = 90
show_missing = True
# Ignore "boilerplate" code that doesn't need testing
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
    raise AssertionError
    raise NotImplementedError